@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --primary: #b88e2f;
    --font-family: "Poppins", sans-serif;
    --second-family: "Montserrat", sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--font-family);
}

.navbar {
    padding: 30px 0;
}

.nav-menu .nav-link {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    color: #000;
    margin: 0 37.5px;
}

.nav-icon .nav-link {
    margin: 0 22.5px;
}

.nav-icon .nav-item:last-child .nav-link {
    margin: 0 0 0 22.5px;
}